* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #2B292D;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}


/* --------------header--------------  */

.page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
}

.header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
}

.logo {
    display: flex;
}

.logo__image {
    height: 60px;
    width: 60px;
    margin-right: 16px;
    display: block;
}

.logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    display: block;
}

.logo__description {
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
}

.navigation {
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
}

.navigation__item {
    color: #2b292d;
    text-decoration: none;
    line-height: 25px;
    font-size: 18px;
    margin-right: 50px;
}

.navigation__item:last-child {
    margin-left: 0;
}

.navigation__item_selected {
    font-weight: 700;
}

.navigation__arrow {
    background-image: url(img/Arrow.png);
    display: inline-block;
    height: 5px;
    width: 8px;
    margin-left: 11px;
}

.action__button {
    background-color: #3040c4;
    color: #fff;
    width: 160px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
}

.action__button_fix {
    color: #3040c4;
    background-color: #fff;
    ;
}

.top-section {
    background-color: #F3C6BD;
    padding-top: 36px;
}


/* --------------headline--------------  */

.headline {
    width: 1400px;
    background-color: #F3C6BD;
    margin: auto;
    display: flex;
    position: relative;
    padding-top: 84px;
    padding-bottom: 77px;
}

.headline__banner {
    top: 0;
    right: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
    position: relative;
    right: -105px;
}

.headline__title {
    width: 764px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
}

.headline__description {
    margin: 34px 0 35px;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
}

.hederline__part {
    position: absolute;
    z-index: 1;
    top: 25px;
}


/* --------------footer--------------  */

.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.footer-navigation {
    height: 338px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
}

.about-company {
    width: 360px;
    padding-top: 43px;
}

.about-company__description {
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
}

.logo__description_footer {
    color: rgba(43, 41, 45, 0.6);
}

.about-company__downloads {
    margin-top: 25px;
}

.downloads__img {
    margin-right: 10px;
}

.additional-navigation {
    margin-left: auto;
    display: flex;
    padding-top: 70px;
}

.additional-navigation__column {
    margin-left: 70px;
}

.nav-link__title {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    color: #2B292D;
    margin: 0;
}

.nav-link__list-item {
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.nav-link__list {
    padding: 0;
    margin: 16 0 0 0;
}

.terms {
    padding: 15px 0;
}

.terms__item {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    font-size: 14px;
    margin-right: 22px;
}

.footer-links {
    border-top: 2px solid #2b292b;
    width: 100%;
    display: flex;
    height: 50px;
}

.userful-link {
    margin: 0 auto;
    width: 1140px;
    height: 338px;
}

.social-link {
    margin-left: auto;
    padding: 15px 0;
}

.social-link__item {
    margin-left: 20px;
}