* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #2B292D;
}

.container {
    margin: 0 15px 0 15px;
}

@media screen and (min-width:400px) {
    .container {
        width: 1140px;
        margin: 0 auto;
    }
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}


/* --------------header--------------  */

.page {
    width: 100%;
    overflow-x: hidden;
}

@media screen and (min-width:400px) {
    .page {
        width: 1400px;
        margin: auto;
        min-height: 100vh;
    }
}

.header {
    width: 100%;
    height: 64px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

@media screen and (min-width:400px) {
    .header {
        width: 1140px;
        height: 62px;
        margin: auto;
        display: flex;
        background-color: #F3C6BD;
    }
}

.logo {
    display: flex;
    margin: 8px 13px 9px 15px;
}

@media screen and (min-width:400px) {
    .header {
        width: 1140px;
        height: 62px;
        margin: auto;
        display: flex;
    }
}

.logo__image {
    height: 45px;
    width: 45px;
    margin-right: 13px;
}

@media screen and (min-width:400px) {
    .logo__image {
        height: 60px;
        width: 60px;
        margin-right: 16px;
        display: block;
    }
}

.header__menu-button {
    width: 58px;
    height: 100%;
    border: none;
    border-left: 1px solid #00000026;
    margin-left: auto;
    background: transparent;
}

.header__menu-icon {
    width: 18px;
    height: 13px;
    background-image: url(img/mobile/Shape.png);
    display: inline-block;
}

@media screen and (min-width:400px) {
    .header__menu-button {
        display: none;
    }
    .header__menu-icon {
        display: none;
    }
}


/* .header__menu-button {
    display: none;
} */

.logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    display: block;
}

.logo__description {
    display: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}

@media screen and (min-width:400px) {
    .logo__description {
        font-size: 18px;
        line-height: 25px;
        color: #2B292D;
        display: block;
    }
}

.navigation {
    display: none;
}

@media screen and (min-width:400px) {
    .navigation {
        display: block;
        margin-left: auto;
        margin-top: 7px;
        margin-right: 75px;
    }
}

.navigation__item {
    color: #2b292d;
    text-decoration: none;
    line-height: 25px;
    font-size: 18px;
    margin-right: 50px;
}

.navigation__item:last-child {
    margin-left: 0;
}

.navigation__item_selected {
    font-weight: 700;
}

.navigation__arrow {
    background-image: url(img/Arrow.png);
    display: inline-block;
    height: 5px;
    width: 8px;
    margin-left: 11px;
}

.action__button {
    background-color: #3040c4;
    color: #fff;
    /* width: 290px; */
    width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    margin: 0 0 15px 0;
}

@media screen and (min-width:400px) {
    .action__button {
        width: 160px;
        margin-right: 15px;
    }
}

.action__button_fix {
    color: #3040c4;
    background-color: #fff;
    ;
}

.top-section {
    background-color: #F3C6BD;
    padding-top: 0;
}

@media screen and (min-width:400px) {
    .top-section {
        padding-top: 36px;
    }
}


/* --------------headline--------------  */

.headline {
    width: 1400px;
    background-color: #F3C6BD;
    margin: auto;
    display: flex;
    position: relative;
    padding-bottom: 77px;
}

@media screen and (min-width:400px) {
    .headline {
        padding-top: 84px;
    }
}

.headline__banner {
    width: 320px;
}

@media screen and (min-width:400px) {
    .headline__banner {
        top: 0;
        right: 0;
        max-width: 796px;
        height: 448px;
        margin-left: auto;
        position: relative;
        right: -105px;
    }
}

.headline__title {
    max-width: 290px;
    /* height: 205px; */
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.5px;
    z-index: 1;
}

@media screen and (min-width:400px) {
    .headline__title {
        margin-top: 55px;
        width: 764px;
        height: 165px;
        font-size: 80px;
        line-height: 78px;
    }
}

.headline__description {
    margin: 24px 0 30px;
    width: 290px;
    font-size: 24px;
    line-height: 34px;
}

@media screen and (min-width:400px) {
    .headline__description {
        width: 456px;
        margin: 34px 0 35px;
    }
}

.hederline__part {
    margin-top: 35px;
    max-width: 320px;
}

@media screen and (min-width:400px) {
    .hederline__part {
        position: absolute;
        z-index: 1;
        top: 25px;
    }
}

.headline__buttons {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:400px) {
    .headline__buttons {
        flex-direction: row;
    }
}


/* --------------about--------------  */

.about {
    padding: 77px 0 76px;
    background-color: #F4F5F7;
}

.article {
    width: 290px;
    margin-bottom: 20px;
}

@media screen and (min-width:400px) {
    .article {
        width: 555px;
        margin-right: 26px;
        margin-bottom: 0;
    }
}

.article__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
}

.article__text {
    font-size: 22px;
    line-height: 32px;
    margin: 6px 0 0 0;
}

.box-article {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:400px) {
    .box-article {
        flex-direction: row;
    }
}


/* --------------customers--------------  */

.customers {
    padding: 30px 0 110px;
}

.customers-img {
    /* display: flex; */
}

@media screen and (min-width:400px) {
    .customers-img {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.customers-img__row {
    display: flex;
    align-items: center;
    flex: 1;
}

@media screen and (min-width:400px) {
    .customers-img {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.costumer-img__item {
    width: 107px;
    height: 94px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:400px) {
    .costumer-img__item {
        display: flex;
        align-items: center;
    }
}

.customers-img__filter {
    display: inline-block;
    align-items: center;
    filter: brightness(0);
}


/* --------------feature--------------  */

.feature {
    padding: 110px 0;
    position: relative;
}

.feature-block {
    display: flex;
    flex-direction: column;
    width: 465px;
}

.features__subtitle {
    color: #009B4D;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
}

.features__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin: 24px 0 30px;
}

.features__description {
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
}

.features-info__block {
    display: flex;
    margin: 42px 0 8px;
}

.features-info__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #3142C6;
    margin-left: 15px;
}

.features-info__advantage {
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    border-bottom: 3px solid #3142C6;
    padding-bottom: 20px;
}

.features-items {
    height: 51px;
    border-bottom: 1px solid #2b292d29;
    padding-top: 10px;
}

.features-items__text {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #2B292D;
}

.feature-img__right {
    position: absolute;
    top: 85px;
    right: 0;
}

.feature-img__left {
    top: 365px;
    left: 0;
    position: absolute;
}

@media screen and (max-width:400px) {
    .feature {
        display: none;
    }
}


/* --------------tips--------------  */

.tips {
    border-bottom: 1px solid #E3E3E3;
    margin-top: 40px;
}

.tips__subtitle {
    color: #009B4D;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
}

.tips__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    color: #2B292D;
}

.tips__text {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin: 15px 0 30px;
}

.tips__image {
    display: flex;
    justify-content: center;
}

.tips__description {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
    margin: 19px 0 40px;
}

@media screen and (min-width:400px) {
    .tips {
        display: none;
    }
}


/* --------------footer--------------  */

.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.footer-navigation {
    height: 338px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
}

.about-company {
    width: 360px;
    padding-top: 43px;
}

.about-company__description {
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
}

.logo__description_footer {
    color: rgba(43, 41, 45, 0.6);
}

.about-company__downloads {
    margin-top: 25px;
}

.downloads__img {
    margin-right: 10px;
}

.additional-navigation {
    margin-left: auto;
    display: flex;
    padding-top: 70px;
}

.additional-navigation__column {
    margin-left: 70px;
}

.nav-link__title {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    color: #2B292D;
    margin: 0;
}

.nav-link__list-item {
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.nav-link__list {
    padding: 0;
    margin: 16 0 0 0;
}

.terms {
    padding: 15px 0;
}

.terms__item {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    font-size: 14px;
    margin-right: 22px;
}

.footer-links {
    border-top: 2px solid #2b292b;
    width: 100%;
    display: flex;
    height: 50px;
}

.userful-link {
    margin: 0 auto;
    width: 1140px;
    height: 338px;
}

.social-link {
    margin-left: auto;
    padding: 15px 0;
}

.social-link__item {
    margin-left: 20px;
}

.header__button {
    display: none;
}

@media screen and (min-width:400px) {
    .header__button {
        display: block;
    }
}