@import 'breakpoints';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'footer.scss';
@import 'headline.scss';
@import 'header.scss';
@import 'tips.scss';
@import 'order.scss';
@import 'inbox.scss';
@import 'communication.scss';
@import 'audience.scss';
@import 'feedback.scss';
@import 'hiring.scss';
* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #2B292D;
}

.container {
    margin: 0 15px 0 15px;
    @include for-large-up {
        width: 1140px;
        margin: 0 auto;
    }
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}