@import 'breakpoints';
* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #2B292D;
}

.container {
    margin: 0 15px 0 15px;
    @include for-large-up {
        width: 1140px;
        margin: 0 auto;
    }
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}


/* --------------header--------------  */

.page {
    width: 100%;
    overflow-x: hidden;
    @include for-large-up {
        width: 1400px;
        margin: auto;
        min-height: 100vh;
        overflow-x: inherit;
    }
}

.header {
    width: 100%;
    height: 64px;
    background-color: #fff;
    display: flex;
    align-items: center;
    @include for-large-up {
        width: 1140px;
        height: 62px;
        margin: auto;
        display: flex;
        background-color: #F3C6BD;
    }
}

.logo {
    display: flex;
    margin: 8px 13px 9px 15px;
}

.logo__image {
    height: 45px;
    width: 45px;
    margin-right: 13px;
    @include for-large-up {
        height: 60px;
        width: 60px;
        margin-right: 16px;
        display: block;
    }
}

.header__menu-button {
    width: 58px;
    height: 100%;
    border: none;
    border-left: 1px solid #00000026;
    margin-left: auto;
    background: transparent;
    @include for-large-up {
        display: none;
    }
}

.header__menu-icon {
    width: 18px;
    height: 13px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
    display: inline-block;
    @include for-large-up {
        display: none;
    }
}

.logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    display: block;
}

.logo__description {
    display: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    @include for-large-up {
        font-size: 18px;
        line-height: 25px;
        color: #2B292D;
        display: block;
    }
}

.navigation {
    display: none;
    @include for-large-up {
        display: block;
        margin-left: auto;
        margin-top: 7px;
        margin-right: 75px;
    }
}

.navigation__item {
    color: #2b292d;
    text-decoration: none;
    line-height: 25px;
    font-size: 18px;
    margin-right: 50px;
}

.navigation__item:last-child {
    margin-left: 0;
}

.navigation__item_selected {
    font-weight: 700;
}

.navigation__arrow {
    background-image: url(img/Arrow.png);
    display: inline-block;
    height: 5px;
    width: 8px;
    margin-left: 11px;
}

.action__button {
    background-color: #3040c4;
    color: #fff;
    width: 290px;
    // width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    margin: 0 0 15px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    @include for-large-up {
        width: 160px;
        margin-right: 15px;
    }
}

.action__button_fix {
    color: #3040c4;
    background-color: #fff;
    ;
}

.top-section {
    background-color: #F3C6BD;
    padding-top: 0;
    @include for-large-up {
        padding-top: 36px;
    }
}


/* --------------headline--------------  */

.headline {
    background-color: #F3C6BD;
    display: flex;
    position: relative;
    padding-bottom: 77px;
    @include for-large-up {
        padding-top: 84px;
    }
}

.headline__banner {
    width: 290px;
    @include for-large-up {
        width: 796px;
        height: 448px;
        margin-left: auto;
    }
}

.headline__title {
    width: 290px;
    /* height: 205px; */
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.5px;
    z-index: 1;
    @include for-large-up {
        margin-top: 55px;
        width: 764px;
        height: 165px;
        font-size: 80px;
        line-height: 78px;
    }
}

.headline__description {
    margin: 24px 0 30px;
    width: 290px;
    font-size: 24px;
    line-height: 34px;
    @include for-large-up {
        width: 456px;
        margin: 34px 0 35px;
    }
}

.hederline__part {
    // width: 320px;
    @include for-large-up {
        margin-top: 35px;
        width: 754px;
        position: absolute;
        z-index: 1;
        top: 25px;
    }
}

.headline__buttons {
    display: flex;
    flex-direction: column;
    @include for-large-up {
        flex-direction: row;
    }
}


/* --------------about--------------  */

.about {
    padding: 46px 0;
    background-color: #F4F5F7;
}

.article {
    width: 290px;
    margin-bottom: 20px;
    @include for-large-up {
        width: 555px;
        margin-right: 26px;
        margin-bottom: 0;
    }
}

.article__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
}

.article__text {
    font-size: 22px;
    line-height: 32px;
    margin: 6px 0 0 0;
}

.box-article {
    display: flex;
    flex-direction: column;
    @include for-large-up {
        flex-direction: row;
    }
}


/* --------------customers--------------  */

.customers {
    // padding: 30px 0 110px;
}

.customers-img {
    /* display: flex; */
}


/* @media screen and (min-width:400px) {
    .customers-img {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.customers-img__row {
    display: flex;
    align-items: center;
    flex: 1;
}

@media screen and (min-width:400px) {
    .customers-img {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.costumer-img__item {
    width: 107px;
    height: 94px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:400px) {
    .costumer-img__item {
        display: flex;
        align-items: center;
    }
}

.customers-img__filter {
    display: inline-block;
    align-items: center;
    filter: brightness(0);
} */

.customers-img {
    display: flex;
    flex-direction: column;
    @include for-large-up {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 106px;
    }
}

.customers-img__row {
    display: flex;
}

.costumer-img__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 94px;
    width: 107px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    @include for-large-up {
        border: none;
    }
}

.costumer-img__item:last-child {
    border-right: none;
}

.customers-img__filter {
    filter: brightness(0);
    max-width: 80%;
}

@media screen and (min-width: 1400px) {
    .customers-img__row {
        flex: 1;
        justify-content: space-around;
    }
}


/* --------------feature--------------  */

.feature {
    display: none;
    @include for-large-up {
        padding: 110px 0;
        position: relative;
        display: block;
    }
}

.feature-block {
    display: flex;
    flex-direction: column;
    width: 465px;
}

.features__subtitle {
    color: #009B4D;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
}

.features__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin: 24px 0 30px;
}

.features__description {
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
}

.features-info__block {
    display: flex;
    margin: 42px 0 8px;
}

.features-info__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #3142C6;
    margin-left: 15px;
}

.features-info__advantage {
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    border-bottom: 3px solid #3142C6;
    padding-bottom: 20px;
}

.features-items {
    height: 51px;
    border-bottom: 1px solid #2b292d29;
    padding-top: 10px;
}

.features-items__text {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #2B292D;
}

.feature-img__right {
    position: absolute;
    top: 85px;
    right: 0;
}

.feature-img__left {
    top: 365px;
    left: 0;
    position: absolute;
}


/* --------------tips--------------  */

.tips {
    border-bottom: 1px solid #E3E3E3;
    @include for-large-up {
        display: none;
    }
}

.tips__box {
    border-bottom: 1px solid #E3E3E3;
}

.tips__box:last-child {
    border-bottom: none;
}

.tips__subtitle {
    margin-top: 40px;
    color: #009B4D;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 17px;
}

.tips__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    color: #2B292D;
}

.tips__text {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin: 15px 0 30px;
}

.tips__image_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-large-up {
        display: flex;
        flex-direction: column;
    }
}

.tips__image_circle img {
    width: 290px;
    height: 340px;
    @include for-large-up {
        width: 425px;
        height: 510px;
    }
}

.tips__description {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
    margin: 19px 0 40px;
}

.tips__subtitle_circle {
    color: #F1592B;
}

.inbox {
    background-color: #FCF0E3;
    border-bottom: 1px solid #E3E3E3;
    padding-top: 40px;
    @include for-large-up {
        display: block;
        padding-top: 115px;
    }
}

.tips__block {
    @include for-large-up {
        display: flex;
        justify-content: space-around;
    }
}

.tips__info {
    @include for-large-up {
        width: 520px;
    }
}

.tips__description_circle {
    display: none;
    @include for-large-up {
        display: block;
    }
}

.review {
    background-color: #fff;
    border-bottom: 4px solid #0185D0;
    margin-bottom: 50px;
}

.tips__coment-person {
    display: flex;
    padding: 0 0 30px 20px;
}

.tips__coment-text {
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding: 30px 20px 26px 20px;
}

.coment__text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.coment__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
}

.coment__status {
    opacity: 0.5;
    width: 200px;
}

.coment_photo {
    width: 40px;
    height: 40px;
}

.communicate {
    margin-bottom: 50px;
}

.action__communicate {
    width: 160px;
}

.tips-border {
    border-bottom: 1px solid #000;
    width: 150px;
    opacity: 0.1;
}

.communication {
    color: #0189D1;
    border-bottom: none;
    padding-top: 110px;
    @include for-large-up {
        display: block;
    }
}

.tips__image_mobile {
    @include for-large-up {
        width: 425px;
        height: 426px;
    }
}

.tips__subtitle_communicate {
    color: #0389d1;
}

.tips__top {
    @include for-large-up {
        display: flex;
    }
}

.tips__right {
    @include for-large-up {
        width: 425px;
        margin-left: 193px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.tips__left {
    @include for-large-up {
        width: 425px;
    }
}

.tips__mobile img {
    width: 290px;
    height: 291px;
    @include for-large-up {
        width: 425px;
        height: 426px;
    }
}

.communicate {
    @include for-large-up {
        display: flex;
        justify-content: space-between;
    }
}

.communicate-block {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    &__text {
        font-size: 22px;
        line-height: 26px;
        color: #2B292D;
        @include for-large-up {
            font-size: 18px;
        }
    }
    &__link {
        color: #3040c4;
        font-size: 20px;
        line-height: 26px;
        font-weight: bold;
        padding-top: 7px;
    }
    @include for-large-up {
        width: 360px;
        height: 115px;
    }
}


/* --------------opportunities--------------  */

.audience {
    background-color: #75c4da21;
    padding-top: 1px;
    padding-bottom: 50px;
    @include for-large-up {
        padding-top: 108px;
    }
}

.opportunities__info {
    @include for-large-up {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.opportunities__main {
    margin: 40px 0 50px 0;
    @include for-large-up {
        width: 555px;
    }
}

.opportunities__subtitle {
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    font-weight: bold;
}

.opportunities__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.357143px;
    color: #2B292D;
    margin: 18px 0;
}

.opportunities__text {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    margin-bottom: 30px;
}

.opportunities__cards {
    @include for-large-up {
        display: flex;
        justify-content: space-between;
    }
}

.user-card {
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    height: 300px;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    @include for-large-up {
        width: 262px;
        height: 300px;
        margin-right: 30px;
    }
}

.opportunities__buttons {
    // display: flex;
    justify-content: center;
}

.user__img_tv {
    height: 195px;
    width: 142px;
}

.user__img_run {
    height: 195px;
    width: 160px;
}

.user__img_light {
    height: 195px;
    width: 119px;
}

.user__img {
    background-color: transparent
}

.user__description {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #2B292D;
}

.opportunities__card:hover span,
.opportunities__card:hover {
    background-color: #3141C5;
    color: #fff;
}


/* --------------discussion--------------  */

.discussion__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #3142C6;
}

.discussion__text {
    font-size: 24px;
    line-height: 34px;
    margin: 29px 0 32px 0;
    color: #2B292D;
    @include for-large-up {
        width: 750px;
        text-align: center;
    }
}

.coment__text_discussion {
    text-align: center;
}

.coment__status_discussion {
    width: 290px;
}

.discussion__img-switch {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.circle {
    width: 12px;
    height: 12px;
    background-color: #2B292D;
    opacity: 0.2;
    margin-right: 20px;
    border-radius: 50%;
}

.circle-active {
    background-color: #3142C5;
    opacity: 1;
}

.circle:last-child {
    margin: 0;
}

.feedback {
    border-bottom: 1px solid #00000040;
    padding: 40px 0 50px;
    position: relative;
}

.discussion__block {
    @include for-large-up {
        // width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.discussion__img-green {
    @include for-large-up {
        position: absolute;
        width: 273px;
        height: 243px;
        bottom: 0;
        right: 20px;
    }
}


/* --------------direction--------------  */

.direction__main {
    @include for-large-up {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.direction__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */
    text-align: center;
    letter-spacing: -0.357143px;
    color: #2B292D;
    margin-top: 40px;
}

.direction__text {
    font-size: 24px;
    line-height: 34px;
    /* or 142% */
    text-align: center;
    color: #2B292D;
    margin: 20px 0;
    @include for-large-up {
        width: 555px;
    }
}

.action__button_dir {
    @include for-large-up {
        width: 247px;
    }
}

.vacancy {
    display: flex;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
    margin-bottom: 15px;
    @include for-large-up {
        width: 750px;
    }
}

.vacancy:last-child {
    margin-bottom: 0;
}

.vacancy__info {
    display: flex;
    flex-direction: column;
    padding: 20px 0 19px 20px;
    @include for-large-up {
        flex-direction: row;
        align-items: center;
    }
}

.vacancy__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 7px;
    /* or 127% */
    color: #2B292D;
    width: 200px;
    @include for-large-up {
        width: 470px;
    }
}

.vacancy__location {
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    color: #2B292D;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.vacancy__button {
    margin-left: auto;
    background: #D5D4D5;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 0px 8px 8px 0px;
    width: 50px;
    @include for-large-up {
        background-color: transparent;
    }
}

.vacancy__active span,
.vacancy__active button,
.vacancy__active {
    background-color: #3241c5;
    color: #fff;
    opacity: 1;
}

.direction__cards {
    margin-top: 30px;
    @include for-large-up {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* --------------feedback--------------  */

.order {
    background-color: #F4F5F7;
    margin-top: 50px;
    padding: 50px 0;
}

.order-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include for-large-up {
        display: flex;
        flex-direction: row;
        // align-items: center;
    }
}

.order__form {
    @include for-large-up {
        width: 555px;
    }
}

.order-img {
    height: 200px;
    width: 200px;
}

.order__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    color: #2B292D;
}

.order__text {
    font-size: 24px;
    line-height: 34px;
    /* or 142% */
    color: #2B292D;
    margin: 18px 0 40px 0;
    @include for-large-up {
        font-size: 22px;
    }
}

.order__feedback {
    @include for-large-up {
        display: flex;
    }
}

.order__email {
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: none;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 12px;
    text-align: center;
    @include for-large-up {
        width: 385px;
        margin-right: 10px;
    }
}

.order__description {
    color: rgba(43, 41, 45, 0.6);
    @include for-large-up {
        font-size: 14px;
    }
}


/* --------------footer--------------  */

.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.footer-navigation {
    margin-top: 50px;
    @include for-large-up {
        height: 338px;
        width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.about-company {
    width: 360px;
    padding-top: 43px;
}

.footer__description {
    display: none;
    margin-bottom: none;
    @include for-large-up {
        font-size: 18px;
        line-height: 26px;
        color: rgba(43, 41, 45, 0.6);
        display: block;
        margin-bottom: 25px;
    }
}

.f-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__description_footer {
    color: rgba(43, 41, 45, 0.6);
    font-weight: normal;
    display: block;
}

.logo__text_footer span {
    display: inline-block;
    margin: auto;
}

.downloads__img {
    margin-right: 10px;
}

.additional-navigation {
    // margin-left: auto;
    display: flex;
    padding-top: 70px;
    flex-direction: column;
    line-height: 30px;
    @include for-large-up {
        font-size: 18px;
        line-height: 26px;
        color: rgba(43, 41, 45, 0.6);
        display: flex;
        margin-bottom: 25px;
        flex-direction: row;
    }
}

.additional-navigation__column {
    margin-left: 0;
    @include for-large-up {
        margin-left: 70px;
    }
}

.nav-link__title {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    color: #2B292D;
    margin: 0;
}

.nav-link__list-item {
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.nav-link__list {
    padding: 0;
    margin: 16 0 0 0;
}

.terms {
    padding: 15px 0;
}

.terms__item {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    font-size: 14px;
    margin-right: 22px;
}

@media screen and (min-width:400px) {
    .footer-links {
        border-top: 2px solid #2b292b;
        width: 100%;
        display: flex;
        height: 50px;
    }
}

.userful-link {
    margin: 0 auto;
    width: 1140px;
    height: 338px;
}

.social-link {
    margin-left: auto;
    padding: 15px 0;
}

.social-link__item {
    margin-left: 20px;
}

.header__button {
    display: none;
    @include for-large-up {
        display: block;
    }
}


/* ----------------------------------------- */

.about-company {
    display: none;
    @include for-large-up {
        display: block;
    }
}

.footer-nav-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-large-up {
        display: none;
    }
}

.logo-vertical__name {
    line-height: 25px;
    text-align: center;
    color: #2B292D;
    font-size: 20px;
    font-weight: bold;
}

.logo-vertical__text {
    display: flex;
    flex-direction: column;
    margin: 20px 0 31px;
}